.plano-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

.titulo-plano {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.botao-pdf {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #c5deff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-items: left;
}

.botao-pdf:hover {
  background-color: #b2d2ff;
}

.pdf-iframe-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.plano-header {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.titulo-plano {
  font-size: 2rem;
  text-align: center;
  flex: 1;
  color: #1e1e1e;
}

.botao-pdf {
  background-color: #4d4d4d;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botao-pdf:hover {
  background-color: #333333;
}
